/* ### common ### */

/* ### height-width ### */

.h_18 {
    height: 18px;
}

.h_36 {
    height: 36px;
}

.h_72 {
    height: 72px;
}

/* ### color ### */

.bg_black {
    background-color: black;
}

/* ### header ### */

/* ### navbar ### */

.hamburgher_box {
    width: 50px;
    height: 46px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.linea_hamburgher {
    width: 50%;
    border-top: 2px solid rgb(175, 175, 175);
    margin: auto;
}

