/* ### common ### */

body {
    font-family: 'Roboto', sans-serif;
}

/* ### height-width ### */

.h_18 {
    height: 18px;
}

.h_36 {
    height: 36px;
}

.h_72 {
    height: 72px;
}

.h_180 {
    height: 180px;
}

.h_300 {
    height: 300px;
}

.h_500 {
    height: 450px;
}

/* ### color ### */

.bg_black {
    background-color: black;
}

/* ### header ### */

/* ### navbar ### */

.nav_bottom li {
    display: inline-block;
    margin-right: 5px;
}

.nav_bottom li a {
    text-decoration: none;
    color: black;
}

#accedi {
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(53, 52, 52);
    color: white;
}


.hamburgher_box {
    width: 50px;
    height: 46px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.linea_hamburgher {
    width: 50%;
    border-top: 2px solid rgb(175, 175, 175);
    margin: auto;
}

/* ### jumbo ### */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}

