/* ### common ### */

body {
    font-family: 'Roboto', sans-serif;
}

.f_11 {
    font-size: 11px;
}

.f_15 {
    font-size: 15px;
}

/* ### height-width ### */

img {
    width: 100%;
}

.w_5 {
    width: 5%;
}

.w_10 {
    width: 10%;
}

.w_15 {
    width: 15%;
}

.w_20 {
    width: 20%;
}

.w_30 {
    width: 30%;
}

.w_35 {
    width: 35%;
}

.w_40 {
    width: 40%;
}

.w_45 {
    width: 45%;
}

.w_50 {
    width: 50%;
}

.w_70 {
    width: 70%;
}

.w_100 {
    width: 100%;
}

.img_50 {
    width: 50%;
}

.h_18 {
    height: 18px;
}

.h_36 {
    height: 36px;
}

.h_72 {
    height: 72px;
}

.h_180 {
    height: 130px;
}

.h_300 {
    height: 300px;
}

.h_500 {
    height: 500px;
}

.h_600 {
    height: 600px;
}

.h_700 {
    height: 700px;
}

/* ### color ### */

.bg_black {
    background-color: black;
}

.bg_blue {
    background-color: rgb(2, 2, 117);
}

.bg_plus {
    background-color: rgb(190, 188, 187);
}

.bg_now {
    background-color: rgb(22, 28, 59);
}

.bg_footer {
    background-color: #00439c;
}

.c_blue {
    color: rgb(0, 110, 255);
}

.c_gray {
    color: gray;
}

.c_white {
    color: white;
}

/* ### header ### */

/* ### navbar ### */

.nav_bottom li {
    display: inline-block;
    margin-right: 5px;
}

.nav_bottom li a {
    text-decoration: none;
    color: black;
}

#accedi {
    display: inline-block;
    padding: 10px 10px;
    background-color: rgb(53, 52, 52);
    color: white;
}


.hamburgher_box {
    width: 50px;
    height: 46px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.linea_hamburgher {
    width: 50%;
    border-top: 2px solid rgb(175, 175, 175);
    margin: auto;
}

/* ### jumbo ### */

.jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

#acquista {
    padding: 5px;
    background-color: orange;
    color: white;
    text-decoration: none;
}

/* ### main ### */

#info {
    padding: 10px 10px;
    background-color: rgb(41, 98, 255);
    color: white;
    text-decoration: none;
}

.card {
    display: inline-block;
    width: 30%;
    border: none;
    margin-right: 5px;
}

.card_md {
    display: inline-block;
    width: 18%;
    border: none;
    margin-right: 5px;
}

.card_lg {
    display: inline-block;
    width: 15%;
    border: none;
    margin-right: 5px;
}

.card_45 {
    display: inline-block;
    width: 45%;
    border: none;
}

.it_takes_two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.ps4_box {
    display: inline-block;
    width: 30%;
}

#plus {
    padding: 5px 5px;
    background-color: rgb(202, 200, 200);
    color: rgb(41, 98, 255);
    text-decoration: none;
}

#now {
    padding: 5px 5px;
    background-color: white;
    color: black;
    text-decoration: none;
}

/* ### footer ### */

footer ul li {
    list-style: none;
}

